html,
body {
    box-sizing: border-box;
    width: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

#top-section {
    display: flex;

}

/* colors_______________________________________________ */

.ps,
.po {
    background-color: #d4e8ff;
}

.importpo {
    background-color: #e9f3ff;
}

.product {
    background-color: #d8d8d8;
}


.ph {
    background-color: #fffff4;
}

.fo {
    background-color: #ffe1e1;
}

.cc {
    background-color: #e9f9ff;
}

.ic {
    background-color: #fff0c5;
}

.crc {
    background-color: #d4e8ff;
}

.ia {
    background-color: #dfd3ff;
}

.st {
    background-color: #f2ffd3;
}

.warehouse-inventory {
    background-color: #91b8ff;
}

.factory-inventory {
    background-color: #ffffdc;
}

.final-allocation {
    background-color: #fff2f2;
}

.rpl-average {
    background-color: #f0f7ff;
}

.nso {
    background-color: #ffffd0;
}

.spj {
    background-color: #ffeeda;
}

/* menu section------------------------------------------------ */
.menu-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.page-menu-button {
    width: 14rem;
    font-size: .95rem;
    padding: 1rem 0rem;
    margin-top: .25rem;
    border: none;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 1px solid whitesmoke;
}

.page-menu-button:hover {
    background: rgba(0, 0, 0, .25);
}

/* product section -----------------------------------------*/

.product-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0% 5%;
}

.product-header {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: -10px;
}

.header-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .25rem;
    margin-top: 2rem;
}

#titles {
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text h2 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#product-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

#product-nav a {
    text-decoration: none;
    color: #2c6fae;

}

#subtitle {
    color: #838383;
    font-weight: normal;
}

#product-nav li {
    margin-right: 10px;
}

#product-nav li+li:before {
    content: " | ";
    padding: 0 10px;
    color: #d8d8d8;
}


#product-nav li:hover {
    text-decoration: underline;

}


/* scroll section------------- */

.scroll-section {
    margin-top: 18%;
    display: flex;
    width: 100%;
}

/* product-info section___________________________________ */
.product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: .95rem;
    font-weight: bold;
}

.info-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    column-gap: 2rem;
}

.info-key {
    grid-column: 1/1;
    color: #838383;
    text-align: right;
}

.info-value {
    grid-column: 2/2;

}

/* right-panel_____________________________________________ */
#right-panel {
    width: 50%;
}

#right-panel button {
    border: none;
    margin-left: .5rem;
    padding: .25rem 1.5rem;
    border-radius: 5%;
    font-weight: bold;


}

#nso-rpl {
    display: flex;
    align-items: center;
    font-size: .95rem;
    height: 2.5rem;

}

#spj {
    display: flex;
    align-items: center;
    font-size: .95rem;
    height: 2.5rem;

}

.right-cartons-parent-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30px;
    font-size: .95rem;
}

hr {
    border: 1px solid #d8d8d8;
}

#cartons {
    background-color: #ebf5ff;
    padding: 1rem;
    margin-top: 5%;
    border-radius: 2%;
    font-weight: bold;
    width: 60%;

}

#cartons h4,
#parent-products h4 {
    margin: 0;
}

#parent-products {
    background-color: #f4f3f4;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 2%;
    font-weight: bold;
    width: 60%;
}

#cartons h4,
#parent-products h4 {
    color: #838383;
}



/* bottom tabs section _____________________________*/

#bottom-tabs {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2rem 10%;

}

#bottom-tabs a {
    text-decoration: none;
    color: #838383;
    font-weight: normal;
    font-size: .9rem;
    padding: .02rem .9rem;
    border: 1px solid #ddd;
    border-bottom: transparent;
    margin-top: 1px;
    border-radius: .25rem .25rem 0 0;
    line-height: 2.8rem;
}

#bottom-tabs a:hover {
    background: rgba(0, 0, 0, .25);
}

@media only screen and (max-width: 450px) and (min-width: 315px) {

    body {
        margin: 0;
    }

    .product-div {
        margin: 0 auto;
    }

    .menu-container {
        display: none;
    }

    .product-header {
        flex-wrap: nowrap;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;

    }

    .header-text {
        width: 100%;
    }

    .product-nav ul {
        font-size: .75rem;
        padding: 0;
    }

    .product-nav li {
        margin: 5px;
    }

    #product-nav li+li:before {
        display: none;
    }

    .scroll-section {
        margin-top: 55%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
    }

    .product-info {
        width: 100%;
    }

    #right-panel,
    #cartons,
    #parent-products {
        width: 100%;
    }


    #nso-rpl,
    #spj,
    #right-panel-row {
        font-size: .75rem;
        margin: 0 5%;
    }

    #right-panel button {
        padding: .15rem;
        font-size: .75rem;
    }

    #bottom-tabs {
        width: 100%;
        margin: 1rem auto;
        justify-content: center;
    }

    #bottom-tabs a {
        font-size: .75rem;
        padding: .01rem 0rem;

    }

}

@media only screen and (max-width: 768px) and (min-width: 451px) {

    body {
        margin: 0;
    }

    .product-div {
        margin: 0 auto;
    }

    .menu-container {
        display: none;
    }

    .product-header {
        flex-wrap: nowrap;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;

    }

    .header-text {
        width: 100%;
    }

    .product-nav ul {
        font-size: .75rem;
        padding: 0;
    }

    .product-nav li {
        margin: 5px;
    }

    #product-nav li+li:before {
        display: none;
    }

    .scroll-section {
        margin-top: 35%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
    }

    .product-info {
        width: 100%;
    }

    #right-panel,
    #cartons,
    #parent-products {
        width: 100%;
    }


    #nso-rpl,
    #spj,
    #right-panel-row {
        font-size: .75rem;
        margin: 0 15%;
    }

    #right-panel button {
        padding: .15rem;
        font-size: .75rem;
    }

    #bottom-tabs {
        width: 100%;
        margin: 1rem auto;
        justify-content: center;
    }

    #bottom-tabs a {
        font-size: .75rem;
        padding: .01rem 0rem;

    }

}

@media only screen and (max-width: 1199px) and (min-width: 769px) {

    .page-menu-button {
        font-size: .8rem;
        padding: .9rem 0rem;
        width: 10rem;
    }
    #titles {
        width: 100% 
    }


    .header-text {
        width: 100%;
        justify-content: space-around;
    }

    .product-nav {
        width: 100%;
    }
    .scroll-section {
        margin-top: 30%;
    }

    #cartons, #parent-products {
        width:90%;
    }
    #nso-rpl,
    #spj,
    #right-panel-row {
        font-size: .75rem;
    
    }

    #right-panel button {
        padding: .15rem;
        font-size: .75rem;
    }

    #bottom-tabs {
        width: 100%;
        margin: 1rem auto;
        justify-content: flex-start;
    }

    #bottom-tabs a {
        font-size: .75rem;
        padding: .01rem .5remrem;

    }
}

@media only screen and (max-width: 1530px) and (min-width: 1200px) {

    .scroll-section {
        margin-top: 20%;
        display: flex;
    }

    #product-nav li {
        margin-right: 0;
    }


    #right-panel button {
        padding: .25rem 1rem;
    }

}